.cal {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    max-width: 250px;
    margin: 50px auto;
    padding: 20px;
    border: 2px solid #333;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  #inp {
    grid-column: span 4;
    padding: 10px;
    font-size: 1.5rem;
    text-align: right;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
  }
  
  .btn {
    padding: 15px;
    font-size: 1.2rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color:rgb(71, 63, 63);
    cursor: pointer;
    transition: background-color 0.2s ease, transform 0.1s ease;
  }
  
  .btn:hover {
    background-color: #525268;
  }
  
  
  
 
  
  input[type="button"]:nth-child(15),
  input[type="button"]:nth-child(16) {
    /* grid-column: span 2; */
    background-color: #50ad54;
    color: white;
    font-weight: bold;
  }
  
  input[type="button"]:nth-child(15):hover,
  input[type="button"]:nth-child(16):hover {
    background-color: #ff6347;
  }
  
  input[type="button"]:nth-child(15):active,
  input[type="button"]:nth-child(16):active {
    background-color: #ff4500;
  }
  