.inpp{
    padding: 8px;
 
}
.btns{
    padding: 8px;
    border-radius: 45%;
    background-color: #a7425c;
    color: white;
}
table{
    margin-top: 10px;
}
.del-btns{
    background-color: red;
    color: white;
    padding: 5px;
}
.update-btns{
    background-color: rgb(92, 196, 92);
    color: white;
    padding: 5px;
}